body {
    font-family: 'Roboto';font-size: 22px;
    margin: 0;
    padding: 0;
    background-image: url("bg.jpg")
}

#box {
    position: relative;
    margin: auto;
    width: 300px;
    height: 570px;
    text-align: center;
    font-size: 35px;
    background-color: #fff;
    z-index: 1;
    overflow: hidden;
}

#box-header {
    position: relative;
    z-index: 1;
    background-color: #1BEBB7;
    padding: 20px;
}

#box-bellow {
    background-color: #fff;
}

.column {
    float: left;
    width: 150px;
}

.selected {
    position: relative;
    padding-top: 50px;
    background-color: #fff;
    z-index: 1;
}

.non-selected-graph{
    position: relative;
    z-index: 0;
}

#non-selected-hours {
    top: 0px;
}

.non-selected-num {
    margin: 20px;
}

.highlighted-num {
    background-color: #1BEBB7;
}

#set-button {
    background-color: #1BEBB7;
    margin: auto;
    margin-top: 30px;
    width: 300px;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
}


